@font-face {
  font-family: 'Cubic_11';
  src: url('/assets/fonts/Cubic_11_1.013_R.woff') format('woff'),
    url('/assets/fonts/Cubic_11_1.013_R.woff2') format('woff2');
}

* {
  font-family: 'Cubic_11', sans-serif;
}
